@mixin btn {
  max-width: rem(333px);
  width: clamp(rem(296px), 60%, rem(333px));
  height: rem(61px);
  margin-left: 0.5rem;
  border-radius: rem(12px);
  border: none;
  font-size: rem(18px);
  font-weight: bold;
  line-height: rem(32px);
}

@mixin icon-right {
  margin-right: 0.2rem;
}

.btn-ios {
  @include btn();
  background-color: $black;
  color: $white;
  margin-bottom: 1rem;
}

.btn-ios:hover {
  background-color: $cyan;
}

.btn-ios__icon {
  @include icon-right();
  vertical-align: middle;
}

.btn-android {
  @include btn();
  background-color: $white;
}

.btn-android:hover {
  background-color: $yellow;
}

.btn-android__icon {
  @include icon-right();
}
