.content {
  margin-top: rem(60px);
  @include breakpoint($tablet){
    margin-top: rem(95px)
  }
}

.content__intro {
  margin-bottom: rem(68px);
  @include breakpoint($tablet) {
    margin-bottom: rem(111px);
    margin-left: rem(6px);
    width: rem(520px);
  }
}

.content__title {
  margin-bottom: rem(20px);
  font-size: 2.5rem;
  line-height: rem(48px);
  @include breakpoint($tablet) {
    margin-bottom: rem(28px);
    font-size: rem(64px);
    line-height: rem(64px);
  }
}

.content__description {
  font-size: 1rem;
  line-height: rem(26px);
  @include breakpoint($tablet) {
    font-size: rem(18px);
    line-height: rem(28px);
  }
}
