.footer{
    margin: rem(64px) 0 rem(64px) 0;
    @include breakpoint($tablet){
        display: flex;
        align-items: center;
        margin: rem(87px) 0 rem(52px) 0;
    }
}

.footer__info {
    margin-bottom: rem(64px);
    font-size: 1rem;
    @include breakpoint($tablet){
        margin-bottom: 0;
    }
}

.footer__logo {
    margin-bottom: rem(32px);
}

.footer__copyright, .footer__contact {
    font-size: 1rem;
    line-height: rem(26px);
}

.footer__email {
    font-weight: bold;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    width: rem(100px);
}