.offer {
  position: relative;
  padding-top: rem(90px);
}

.offer__pattern-bg {
  position: absolute;
  z-index: -1;
  left: -$side-margin;
  width: 100vw;
  height: rem(600px);
  padding: 0 rem(48px);
  background-color: $black;
  border-radius: rem(12px);
}

.offer__pattern {
  display: block;
  width: rem(280px);
  margin: 0 auto;
}

.offer__illustration {
  display: block;
  width: rem(208px);
  margin: 0 auto;
  position: relative;
  bottom: rem(90px);
}

.offer__card {
    width: 100vw;
    height: rem(546px);
    position: relative;
    left: -$side-margin;
    bottom: rem(48px);
    padding: rem(48px) rem(36px);
    border-radius: rem(12px);
    background-color: $orange;
    color: $white;
}

.offer__title {
    font-size: 2rem;
    line-height: rem(40px);
    margin-bottom: rem(12px);
}

.offer__description {
    font-size: rem(18px);
    line-height: rem(28px);
    margin-bottom: rem(4px);
}

.offer__info {
    margin: 2rem 0 2rem 0.5rem;
    display: flex;
    align-items: center;
}

.offer__price {
    font-size: rem(65px);
    line-height: rem(52px);
    font-weight: bold;
    margin-right: 1rem;
}
