.offer {
  position: relative;
  padding-top: rem(90px);
  height: rem(1024px);
  width: calc(100% + $mobile-pad * 2);
  @include breakpoint($tablet) {
    padding-top: rem(138px);
    height: rem(834px);
    margin: 0 auto;
  }
}

.offer__pattern-bg {
  position: absolute;
  z-index: -1;
  right: $mobile-pad;
  width: 100%;
  height: rem(600px);
  padding: 0 rem(48px);
  background-color: $black;
  border-radius: rem(12px);
  @include breakpoint($tablet) {
    padding: initial;
    width: rem(696px);
    right: auto;
  }
}

.offer__pattern {
  display: block;
  width: 100%;
  max-width: rem(280px);
  margin: 0 auto;
  @include breakpoint($tablet) {
    position: relative;
    margin: initial;
    left: rem(229px);
  }
}

.offer__illustration {
  display: block;
  width: rem(208px);
  margin: 0 auto;
  position: relative;
  right: $mobile-pad;
  bottom: rem(98px);
  @include breakpoint($tablet) {
    width: rem(270px);
    margin: initial;
    left: rem(64px);
    bottom: rem(138px);
  }
}

.offer__card {
  max-width: 375px;
  width: 100%;
  height: rem(546px);
  margin: 0 auto;
  position: relative;
  right: $mobile-pad;
  bottom: rem(50px);
  padding: rem(48px) rem(36px);
  border-radius: rem(12px);
  background-color: $orange;
  color: $white;

  @include breakpoint($tablet) {
    margin: initial;
    max-width: initial;
    width: rem(399px);
    bottom: rem(450px);
    left: rem(239px);
  }
}

.offer__title {
  font-size: 2rem;
  line-height: rem(40px);
  margin-bottom: rem(12px);
}

.offer__description {
  font-size: rem(18px);
  line-height: rem(28px);
  margin-bottom: rem(4px);
}

.offer__info {
  margin: 2rem 0 2rem 0.5rem;
  display: flex;
  align-items: center;
}

.offer__price {
  font-size: rem(65px);
  line-height: rem(52px);
  font-weight: bold;
  margin-right: 1rem;
}

.offer__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
}

.offer__btn-ios {
  margin-bottom: 1rem;
}
