@mixin fixed-bg {
  position: fixed;
  z-index: -1;
}

.wrapper {
  width: 100vw;
  padding: $mobile-pad;

  @include breakpoint($tablet) {
    padding: $tablet-pad;
  }
  @include breakpoint($desktop) {
    padding: rem(62px) $desktop-pad;
  }
}

.wrapper__bg-mobile {
  @include fixed-bg();
  top: -15rem;

  @include breakpoint($tablet) {
    display: none;
  }
}

.wrapper__bg-tablet {
  @include fixed-bg();
  display: none;

  @include breakpoint($tablet) {
    display: block;
    top: -15rem;
    left: -27rem;
  }
  @include breakpoint($desktop) {
    display: none;
  }
}

.wrapper__bg-desktop {
  @include fixed-bg();
  display: none;
  
  @include breakpoint($desktop) {
    display: block;
    top: -15rem;
    left: -27rem;
  }
}



.wrapper__pattern {
  display: none;

  @include breakpoint($tablet) {
    position: absolute;
    display: block;
    top: rem(-32px);
    right: rem(-35.67px);
    width: rem(266px);
  }

  @include breakpoint($desktop) {
    top: rem(-32px);
    right: 0;
    width: fit-content;
  }
}
