/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

button {
  padding: 0;
}

body {
  background-color: #fcfaf9;
  font-family: "IBM Plex Sans", sans-serif;
  color: #191826;
}

h1 {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 5.5rem;
  letter-spacing: -0.0625rem;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.125rem;
}

.header {
  margin-top: 1rem;
}

.wrapper {
  width: 100vw;
  padding: 1.5rem;
}

.wrapper__bg {
  position: fixed;
  z-index: -1;
  top: -15rem;
}

.content {
  margin-top: 3.75rem;
}

.content__intro {
  margin-bottom: 4.25rem;
}

.content__title {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.content__description {
  font-size: 1rem;
  line-height: 1.625rem;
}

.offer {
  position: relative;
  padding-top: 5.625rem;
}

.offer__pattern-bg {
  position: absolute;
  z-index: -1;
  left: -1.5rem;
  width: 100vw;
  height: 37.5rem;
  padding: 0 3rem;
  background-color: #191826;
  border-radius: 0.75rem;
}

.offer__pattern {
  display: block;
  width: 17.5rem;
  margin: 0 auto;
}

.offer__illustration {
  display: block;
  width: 13rem;
  margin: 0 auto;
  position: relative;
  bottom: 5.625rem;
}

.offer__card {
  width: 100vw;
  position: relative;
  left: -1.5rem;
  bottom: 3rem;
  padding: 3rem 2.25rem;
  border-radius: 0.75rem;
  background-color: #fa7453;
  color: #fcfaf9;
}

.offer__title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.75rem;
}

.offer__description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}

.offer__info {
  margin: 2rem 0 2rem 0.5rem;
  display: flex;
  align-items: center;
}

.offer__price {
  font-size: 4.0625rem;
  line-height: 3.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.offer__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5rem;
}

.offer__btn-ios {
  margin-bottom: 1rem;
}

.btn-ios {
  width: 100%;
  max-width: 18.5rem;
  height: 3.8125rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2rem;
  background-color: #191826;
  color: #fcfaf9;
}

.btn-ios:hover {
  background-color: #66e2dc;
}

.btn-ios__icon {
  margin-right: 0.2rem;
  vertical-align: middle;
}

.btn-android {
  width: 100%;
  max-width: 18.5rem;
  height: 3.8125rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2rem;
  background-color: #fcfaf9;
}

.btn-android:hover {
  background-color: #ffb964;
}

.btn-android__icon {
  margin-right: 0.2rem;
}

.footer {
  margin: 0.75rem 0 4rem 0;
}

.footer__info {
  margin-bottom: 4rem;
  font-size: 1rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__copyright, .footer__contact {
  font-size: 1rem;
  line-height: 1.625rem;
}

.footer__email {
  font-weight: bold;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 6.25rem;
}

/*# sourceMappingURL=style.css.map */
