@mixin btn {
    width: rem(333px);
    height: rem(61px);
    border-radius: rem(12px);
    border: none;
    font-size: rem(18px);
    font-weight: bold;
    line-height: rem(32px);
  }
  
  @mixin icon-right {
    margin-right: 0.2rem;
  }