// Colors
$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$white: #fcfaf9;
$black: #191826;

// Typography
$font-ibm: "IBM Plex Sans", sans-serif;

// Breakpoints
$tablet: rem(768px);
$desktop: rem(1440px);

$mobile-pad: 1.5rem;
$tablet-pad: rem(33px);
$desktop-pad: rem(165px);